h1, h3 {
    text-align: center;
}
#welcome-screen {}
.center {
    margin: auto;
    width: 50%;
    border: 5px solid rgb(5, 199, 21);
    padding: 10px;
}
table {
    border-color: black;
    border: 1px dotted;
    border-collapse: collapse;
    text-align: center;
}
tr {
    border-color: black;
    border: 1px dotted;
    border-collapse: collapse;
    text-align: center;
}
th {
    border-color: black;
    border: 1px dotted;
    border-collapse: collapse;
    text-align: center;
}
td {
    border-color: black;
    border: 1px dotted;
    border-collapse: collapse;
    text-align: center;
}
#input-form {
    display: flex;
    justify-content: center;
}
#playersHand{
    text-align: center;
}
#button-div {
    margin: 16px 0px 16px 0px;
    display: flex;
    justify-content: center;
}
button {
    background: transparent;
    color: black;
    border: 1px solid blue;
    border-radius: 3px;
    margin: 5px;
    padding: 8px;
    cursor: pointer;
    transition: all ease 1s;
}
button:hover, button:active {
    outline: none;
    background: yellow;
    color: blue;
}
#output {
    display: flex;
    justify-content: center;
}